:root {
--header-color: #171832;

}

body {
    font-family: Poppins, Tahoma, sans-serif;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

.current {
    color: #2D74FF;
}

.current::after {
    content: '';
    display: block;
    width: 74px;
    height: 0px;
   border: 2px solid #2D74FF;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.container{
    width: 1600px;
    padding-right: 230px;
    padding-left: 230px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.top-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--header-color);
    opacity: 0.7;
}

.second-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2D74FF;
    opacity: 0.7;
}

.title {
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.41;
    color: var(--header-color);
}

.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #2D74FF;
    border-radius: 5px;
    border: none;
}

/*-------header-------*/

.header{
    padding-top: 35px;
    margin-bottom: 230px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--header-color);
    opacity: 0.7;
    cursor: pointer;
}

.header-list__link:hover,
.header-list__link:focus {
    color: #2D74FF;
}

.header-list{
    display: flex;
}

.header-list .header-list__item:not(:last-child) {
    margin-right: 40px;
}

.header-logo{
    margin-right: 120px;
}

.header-btn{
    margin-left: auto;
}

/*------hero-----*/

.hero{
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
}

.hero-second-text{
    margin-bottom: 15px;
}

.hero-title{
    font-family: 'Gelasio';
    font-weight: 600;
    font-size: 57px;
    line-height: 1.19;
    color: var(--header-color);
    margin-bottom: 40px;
    max-width: 519px;
}
.hero-title-two{
    color: #2D74FF;
}

.hero-bottom-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--header-color);
    opacity: 0.7;
}

/*-------community-----*/

.community-second-text{
    margin-bottom: 15px;
    padding-top: 141px;
}

.community-title{
    margin-bottom: 25px;
    max-width: 292px;
}

.community-bottom-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--header-color);
    opacity: 0.7;
    margin-bottom: 40px;
    max-width: 423px;
}

/*------work-----*/

.work-title{
    margin-bottom: 60px;
    text-align: center;
    padding-top: 140px;
}

.work-list{
    display: flex;
    margin-bottom: 154px;
}

.work-list__subtitle{
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--header-color);
    opacity: 0.7;
    margin-top: 20px;
}

.work-list__link{
    width: 100px;
    height: 100px;
    background-color: #F4F4F4;
    border-radius: 50%;
    display: flex;
}

.work-list__top-text{
    max-width: 315px;
}

.work-list__item{
    background-color: #FFFFFF;
    opacity: 0.7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 23px;
    text-align: center;
    }

    .work-list__item:not(:last-child) {
        margin-right: 30px;
    }

/*------customer----*/

.customer-title{
    margin-bottom: 70px;
}

.customer-list{
    display: flex;
}

.customer-list__item{
    background-color: #FFFFFF;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        border: black;
        width: 50%;
}

.customer-list__top-text{
    max-width: 391px;
    margin-bottom: 44px;
}

.customer-list__subtitle{
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.42;
    color: var(--header-color);
    opacity: 0.7;
    margin-bottom: 10px;
}

.customer-list__bottom-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--header-color);
    opacity: 0.7;
}

/*-----------newsletter-----*/

.newsletter{
    padding-top: 140px;
    padding-bottom: 140px;
}

.newsletter-title{
    margin-bottom: 20px;
    text-align: center;
}

.newsletter-top-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 42px;
    max-width: 626px;
}

.newsletter-btn{
    margin-bottom: 75px;
}
/*------footer-----*/

.footer{
    padding-top: 97px;
    padding-bottom: 151px;
    background-color: #F3F5F9;
}

.footer-list__item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--header-color);
}

.footer-list-item__bottom-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--header-color);
    opacity: 0.7;
    margin-bottom: 20px;
}

.footer-list__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    color: var(--header-color);
    opacity: 0.7;
}

.footer-list__top-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--header-color);
    margin-bottom: 30px;
}

.footer-top-text{
    margin-bottom: 14px;
    max-width: 366px;
}

.footer-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--header-color);
    margin-bottom: 14px;
}

